@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';


@theme {
  --font-inter: "Inter", sans-serif;


  /* Color Palette */
  --color-primary-light: #ffff; /* White */
  --color-primary-dark: #01203F; /* Midnight */
  --color-primary: #01203F;


  /* Responsive Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;




  --color-background-primary: #111111;
  --color-background-secondary: #1C1C1C;

}

.navbox {
  border-top: 2px solid rgba(255, 255, 255, 0.1);

}


@keyframes blink {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.8;
    transform: scale(0.8);
  }
}

.animate-blink {
  animation: blink 0.8s infinite ease-in-out;
}



@keyframes breathe {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.05);
  }
  50% {
    transform: scale(1.02);
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.15);
  }
}

.animate-breathe {
  animation: breathe 2s ease-in-out infinite;
}

.animate-breathe:hover {
  animation-play-state: paused;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.15);

}







@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbox-open {
  animation: slideDown 0.4s ease forwards;
}

body {
  font-family: var(--font-inter);
  background-color: var(--color-background-primary);
  color: white;

  margin: 0;
  padding: 0;

}


.underline-animate-hide::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 40%;
  transform: translateX(-50%);
  width: 80%;
  height: 1.5px;
  background-color: var(--color-primary-light);
  transition: width 0.3s ease-in-out;
}

.underline-animate-hide:hover::after {
  width: 0%;
}




/* === Arrow tilt effect === */
.arrow-tilt {
  transform: rotate(-30deg); /* initial acute angle */
}


.my-background-section {
  background-image: url('/backg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;

}


/* === Footer Divider === */
.footer-divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 -4px 8px rgba(255, 255, 255, 0.1);
}



/* LOGO SCROLLER */


.wrapper {
  width: 100%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 50px;
  margin-top: 5rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item {
  width: 100px;
  height: 50px;
  position: absolute;
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}
